body {
  font-family: sans-serif;
  background-color: salmon;
  padding-top: 50px;
}

.wrapper {
  margin: 0 auto;
  width: 200px;
}

.logo {
  display: flex;
  margin: 15px 0;
  width: 90%;
  max-height: 200px;
  color: white;
}
