doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= pageTitle

    link(rel="stylesheet", href="css/main.css")
  body
    .wrapper
      img.logo(src="images/gulp.svg", alt="Gulp")
      img.logo(src="images/sass.svg", alt="Sass")
      img.logo(src="images/pug.svg", alt="Pug")
      img.logo(src="images/browsersync.svg", alt="Browsersync")
